* {
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  background: #000;
  height: 100vh;
  font-family: Verdana
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

input[type="radio"] {
  display: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  display: block;
  width: 70%;
  height: 70vh;
  margin: auto;
}

.slider-block {
  overflow: hidden;
  display: flex;
  height: 100%;
}

#slide1:checked ~ .slider .slider__item:first-child {
  margin: 0;
}

#slide2:checked ~ .slider .slider__item:first-child {
  margin: -50%;
}

#slide3:checked ~ .slider .slider__item:first-child {
  margin: -100%;
}

#slide4:checked ~ .slider .slider__item:first-child {
  margin: -150%;
}

#slide5:checked ~ .slider .slider__item:first-child {
  margin: -200%;
}

.slider-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
  background: #000;
  transition: ease 0.5s;
}

.slider__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.description__item{
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  transition: 0.3s;
}

#slide1:checked~.slider .description__item_1,
#slide2:checked~.slider .description__item_2,
#slide3:checked~.slider .description__item_3,
#slide4:checked~.slider .description__item_4,
#slide5:checked~.slider .description__item_5 {
  visibility: visible;
  opacity: 1;
  font-size: 1.5rem;
}

.pagination {
  display: flex;
  gap: 2px;
}

.pagination__item {
  display: block;
  cursor: pointer;
  padding: 6px;
}

.pagination__item:hover .pagination__circle {
  background: #304e21;
}

.pagination__item:active .pagination__circle {
  background: #000;
  border-color: #304e21;
}

.pagination__circle {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: #000;
  border: 2px solid white;
  transition: 0.3s;
}

#slide1:checked~.slider .pagination__item_1 .pagination__circle,
#slide2:checked~.slider .pagination__item_2 .pagination__circle,
#slide3:checked~.slider .pagination__item_3 .pagination__circle,
#slide4:checked~.slider .pagination__item_4 .pagination__circle,
#slide5:checked~.slider .pagination__item_5 .pagination__circle {
  background: #00dcff;
}

.warning {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

@media(max-width: 767px) {
  .slider {
    width: 80%;
    height: 30rem;
  }

  .slider-row {
    flex-direction: column;
    gap: 10px;
  }

  .pagination {
    order: 1;
  }

  .description {
    order: 2;
    align-self: start;
  }

  #slide1:checked~.slider .description__item_1,
  #slide2:checked~.slider .description__item_2,
  #slide3:checked~.slider .description__item_3,
  #slide4:checked~.slider .description__item_4,
  #slide5:checked~.slider .description__item_5 {
    font-size: 0.875rem;
  }

  .warning {
    display: none;
  }
}