* {
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  background: #000;
  height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {

}

*::-webkit-scrollbar-thumb {

}

*::-webkit-scrollbar-button {
  display: none;
}

input[type="radio"] {
  display: none;
}

.section {
  width: 70%;
  margin: auto;
}

.slider-block {
  overflow: hidden;
  display: flex;
}

#slide1:checked ~ .slider-block .slider-item {
  
}

.slider-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
  max-height: 45%;
  transition: ease 0.4s;
}

.slider__description {
  font-size: 16px;
  color: #fff;
}

.slider__item img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.pagination {
  display: flex;
  gap: 2px;
}

.pagination__item {
  cursor: pointer;
  padding: 2px;
}

.pagination__circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: blue;
}